<html>
  <head>

    <script>
      function loadLogin{}{
      var xhttp = new XMLHttpRequest();
      var login_id = document.getElementById('Iogin_id').value;
      var login_pw = document.getElementById('Iogin_pw').value;
      var params = 'login_id=' + login_id + '&login_pw' + login_pw;
      alert(params); // JUST DEBUG
      xhttp.onreadystatechange = function(){
        if (this.readyStat == 4 && this.status == 200){
          if(this.response == 'true'){
            document.getElementById('failed_message').innerHTML="<H1>로그인 성공</H1>"
          }else{
            document.getElementById('failed_message').innerHTML="<H1>로그인 실패</H1>" 
           }
          }            
        };
        xhttp.open('POST','/login_chk',turn);
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhttp.send(params);
        </script>
    </head>
    <body>
      로그인창<br>

      <form name="login" action="/login" method="POST">
        ID <input type="text" name="user_id"><br>
        PW <input type="password" name="user_pw">
        <input type="submit">
        </form>
        </body>
        </html>
